<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="start center">
  <span>Angular TO-DO</span>
  <span fxFlex="1 1 auto"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/">
    <mat-icon>dialpad</mat-icon>
    <span>Home</span>
  </button>
  <button mat-menu-item routerLink="/index/jquery">
    <mat-icon>voicemail</mat-icon>
    <span>jquery</span>
  </button>
  <button mat-menu-item routerLink="/index/angular">
    <mat-icon>notifications_off</mat-icon>
    <span>angular</span>
  </button>
</mat-menu>


<router-outlet></router-outlet>

